{% extends "layout.html" %}

{% block body %}

<script type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<style>
table,th,td
{
border:1px solid black;
}
</style>
<button id="newsess">New Session</button>
<div id="session_title">
</div>
<div id="session_select">
</div>
<div id="comp_table">
<table id="comp_hypothesis_table">
</table>
</div>
<button id="newevi">Add Evidence</button>
<button id="newhypo">New Hypothesis</button>


<script>
function name_e(){
	var e_sn = $(this).parents("tr").find(".e_sn").text();
	var e_name = $(this).val();
	var obj = {
		evidence : e_sn,
		content : e_name
		};
	$.get("name_evidence", obj, console.log("success"))
	}

function KeySort(a, b){
	var x = a.slice(1)
	var y = b.slice(1)
	return x - y;
}

function redraw(app_state){
		
		console.log(app_state)
		var selecter = $("<select>").append("id", "session_select")
		for (var a in app_state.sessions){
			sn = "A" + a
 			selecter.append($("<option>").attr("value", sn).append(sn))
		}
		$("#session_select").replaceWith(selecter)
		$("#session_title").replaceWith($("<div>").attr("id", "session_title").append(app_state.session))
		var table = ($("<table>").attr("id", "comp_hypothesis_table")
			.append($("<thead>")
			.append($("<tr>")
			.append($("<th>").append("Evidence"))
			.append($("<th>").append("Enter Evidence"))
			.append($("<th>").append("Credibility"))
			.append($("<th>").append("Relevance"))))
			.append($("<tbody>")))

		for (var h in app_state.hypotheses){
			table.find("thead tr").append($("<th>").append(app_state.hypotheses[h].sn))
		}
		var evidences = Object.keys(app_state.evidences)
		evidences.sort(KeySort)
		for (var e in evidences){
			var key = evidences[e]
			var evidence = app_state.evidences[key]
			var row = ($("<tr>")
				.append($("<td>").append(evidence.sn).addClass("e_sn"))
				.append($("<td>").append($("<input>").attr("type", "text").attr("value", evidence.content).addClass("e_name").change(name_e)))
				.append($("<td>")
				.append("<select><option value='low'>Low</option><option value='medium'>Medium</option><option value=high>High</option>"))
				.append($("<td>")
				.append("<select><option value='low'>Low</option><option value='medium'>Medium</option><option value=high>High</option>"))
				);
			var hypotheses = Object.keys(app_state.hypotheses)
			hypotheses.sort(KeySort)
			for (var h in app_state.hypotheses){
				var key = hypotheses[e]
				var hypothesis = app_state.hypotheses[key]
				row.append($("<td>").append("FOO"))
				}
			table.append(row)
			}
		$("#comp_hypothesis_table").replaceWith(table)
	}		
	

$("#newevi").click(function(data, status){
		$.get("/add_evidence", function(app_state, app_status){
			redraw(app_state)
		})
	})

$("#newhypo").click(function(data, status){
	$.get("/add_hypothesis", function(app_state){
		redraw(app_state)
	})
})
$("#newsess").click(function(data, status){
	$.get("/new_session", function(app_state){
		redraw(app_state)
	})
})
$("#session_select").select(function(data, status){
	console.log("FIRE")
	var next_sess = $("#session_select").val()
	var obj = { 
		session : next_sess
		}	
	$.get("/switch_session", obj, redraw)
})
$(document).ready(function(){
	$.get("/get_state", function(app_state){
		redraw(app_state)
	})
})
</script>
{% endblock %}